model_type=sws
patch_ext=png
out_ext=png
in_root_dir=log/sws
method=-1

## __sub__
### _in_
in_name=%N%
### _out_
out_name=%N%
### _iter_
in_iter=%N%
##

## oimg
out_ext=jpg
##

## oimg
out_ext=jpg
##

## pimg
patch_ext=png
##

## load
load_stitched=1
### 0,1
load_stitched=%N%

## save
save_stitched=1
### 0,1
save_stitched=%N%

## vis
show_img=1
### 0,1,2
show_img=%N%

## batch
### irange(64)
batch_size=%N%

## gz
ann_ext=json.gz
##

## seq
seq_id=-1
#### irange(30)
seq_id=%N%
#### irange(30)_irange(30)
seq_start_id=%N0%
seq_end_id=%N1%
##

## frame
#### irange(126)
start_id=%N%
end_id=%N%
#### irange(126)_irange(126)
start_id=%N0%
end_id=%N1%

## start
### irange(100)
start_id=%N%

## end
### irange(100)
end_id=%N%
##
