dataset=cityscapes
images_path=/data/cityscapes
class_info_path='lists/classes/cityscapes.txt'

image_dir='leftImg8bit'
labels_dir='gtFine_labelIds'

multi_sequence_db=1

eval_db_prefix='ctscp'

save_mapped=1

## train
split='train'
split_suffix='train'
## val
split='val'
split_suffix='val'
## test
split='test'
split_suffix='test'
##

images_ext=png
labels_ext=png

%import% stitch-p2s.cfg







