images_path=/data/coco

multi_sequence_db=1
dataset=coco

images_ext=jpg
labels_ext=png

class_info_path=data/classes_coco.txt
frg_metrics=1
mp=0

start_id=0

## train
split=train
end_id=118286
save_suffixes+=coco_semantic_train2017
src_path=/data/coco/train2017
labels_path=/data/coco/annotations/semantic_train2017

## val
split=val
end_id=4999
save_suffixes+=coco_semantic_val2017
src_path=/data/coco/val2017
labels_path=/data/coco/annotations/semantic_val2017
##

## irange(0,100)
start_id=%N0%
end_id=%N1%
##

## end
### irange(0,50000,100)
end_id=%N%
##

%import% stitch-p2s.cfg







