images_path=/data/ipsc/well3/all_frames_roi

multi_sequence_db=1
dataset=ipsc
split=all

images_ext=jpg
labels_ext=png

class_info_path=data/classes_ipsc_1_class.txt
## mc,lac
class_info_path=data/classes_ipsc_2_class.txt
##

## irange(0,126)_irange(0,126)
start_id=%N0%
end_id=%N1%
##

%import% stitch-p2s.cfg







