model_type=p2s
patch_ext=mp4
out_ext=mp4
in_root_dir=log/p2s/seg

## vid
is_video=1
in_root_dir=log/p2s/video/seg
	### or,and,mode,max,min,vote
	mask_cmb=%N%
	stitched_suffixes+=%N%
##

## __sub__
### _in_
in_name=%N%
### _out_
out_name=%N%
##

## img,oimg
out_ext=jpg
##

## img,pimg
patch_ext=png
##

## static
patch_suffixes+=%N%

## seq1k,seq2k,seq3k,seq4k,seq640,seq768
patch_suffixes+=%N%

## voc256,voc400,voc500,voc512,voc768,voc1k,voc2k,voc3k,voc15,voc18,voc28,voc68k
patch_suffixes+=%N%

## ovl
### or,and,mode,max,min
ovl_cmb=%N%
stitched_suffixes+=ovl_%N%
##

## dbg
debug=1
mp=0
	### 0
	mp=1
	debug=0
	### 1
	mp=0
	debug=1

## logits
logits=1
	### 0,1
	logits=%N%

## inst
enable_instance=1
logits=0
	### 0,1
	enable_instance=%N%
	### 1
	logits=0

## load
load_stitched=1
### 0,1
load_stitched=%N%

## save
save_stitched=1
	### 0,1
	save_stitched=%N%
	### vis
	save_vis=1
		#### 0,1
		save_vis=%N%


## vis
show_img=1
### 0,1,2
show_img=%N%

## batch
### irange(0,256,2)
batch_size=%N%

## gz
ann_ext=json.gz
##

## ssgt,subgt
subsample_gt=1
### 0,1
subsample_gt=%N%
##

@rle

## nos
starts_2d=0
no_starts=1

## dm
diff_mask=1
## dm2
diff_mask=2

## mhd
starts_2d=1
shared_coord=0
length_as_class=0

## 2d
starts_2d=1
### 0,1
starts_2d=%N%

## sco
shared_coord=1
### 0,1
shared_coord=%N%

## ord
flat_order=F
### C,F
flat_order=%N%

## lac
length_as_class=1
### 0,1
length_as_class=%N%

## tac
time_as_class=1
### 0,1
time_as_class=%N%

## ltac
time_as_class=1
length_as_class=1
### 0,1
time_as_class=%N%
length_as_class=%N%

## sub
### range(1,32)
subsample=%N%
##
@

@vid
## len
	### irange(1,100)
	length=%N%

## vstrd
	### irange(1,100)
	stride=%N%

## fg
	### irange(1,100)
	frame_gap=%N%
##
@

## mp
mp=1
### 0,1
mp=%N%

## ief
ignore_eval_flag=1
### 0,1
ignore_eval_flag=%N%

## vstrds
strides=0
### irange(1,8)
strides=%N%
### irange(1,8)_irange(1,8)
strides=irange(%N0%,%N1%)

## patch
#### irange(500)
patch_start_id=%N%
patch_end_id=%N%

## seq
seq_id=-1
#### irange(30)
seq_id=%N%
#### irange(30)_irange(30)
seq_start_id=%N0%
seq_end_id=%N1%
##

## frame
#### irange(126)
start_id=%N%
end_id=%N%
#### irange(126)_irange(126)
start_id=%N0%
end_id=%N1%

## start
### irange(100)
start_id=%N%

## end
### irange(100)
end_id=%N%
##

## r,rsz,res
### 40,80,128,160,256,320,640,768,1024,1280,2560,5120
resize=%N% 
### 1280_640,160_80,256_128,512_256
resize_x=%N0%
resize_y=%N1%

## p,psz,sz
### 80,160,320,480,512,640,800,1024
patch_width=%N% 
patch_height=%N% 

## strd
### irange(0, 640, 5)
min_stride=%N%
max_stride=%N%
### irange(0, 320, 10)_irange(0, 320, 10)
min_stride=%N0%
max_stride=%N1%

## smp,sample
### irange(2,100)
sample=%N%

## rnd,shuffle
shuffle=1

## rot
### irange(0, 90, 15)_irange(180, 360, 15)_irange(4)
min_rot=%N0%
max_rot=%N1%
n_rot=%N2%

## flip
enable_flip=1 
### 0,1
enable_flip=%N%

