## sub
### irange(16)
subsample=%N%

## bkg
### irange(0, 100, 5)
max_bkg_ratio=%RI%


## inst
enable_instance=1
	### 0,1
	enable_instance=%N%
	### rle
	instance_coco_rle=1
	### rle0
	instance_coco_rle=0

## rchk
resize_check=1
	### 0,1
	resize_check=%N%

## mdr
### irange(0, 25)
max_diff_rate=%N%

## visp
vis_portrait=1
	### 0,1,2
	vis_portrait=%N%

## vis
vis=1
### 0,1,2
vis=%N%

## frame
#### irange(126)
start_id=%N%
end_id=%N%
	#### irange(126)_irange(126)
	start_id=%N0%
	end_id=%N1%

## start
### irange(126)
start_id=%N%

## end
### irange(126)
end_id=%N%
##

## r,rsz,res
### 40,80,128,160,256,320,640,768,1024,1280,2560,5120
resize=%N%
### 1280_640,160_80,256_128,512_256
resize_x=%N0%
resize_y=%N1%

## p,psz,sz
### 0,40,80,160,320,480,512,640,800,1024,1280,2560
patch_width=%N% 
patch_height=%N%

## smp,sample
### irange(2,100)
sample=%N%

## rnd,shuffle
shuffle=1

## rot
### irange(0,90,15)_irange(180,360,15)_irange(1,32,1)
min_rot=%N0%
max_rot=%N1%
@batch
n_rot=%N2%
@

## strd
### irange(0,640,4)+irange(0,600,25)
min_stride=%N%
max_stride=%N%
### irange(0,640,10)+irange(0,640,32)_irange(0,640,10)+irange(0,640,32)
min_stride=%N0%
max_stride=%N1%

## smin
### irange(320)
min_stride=%N%

## smax
### irange(320)
max_stride=%N%

## rmin
### 15
min_rot=%N%

## rmax
### 345
max_rot=%N%

## img
save_img=1 
	### 0,1
	save_img=%N%

## vid
save_vid=1 
	### 0,1
	save_vid=%N%

## flip
enable_flip=1 
### 0,1
enable_flip=%N%

@rle
## rle
enable=1
### 0,1
enable=%N%

## rle_json
json=1
### 0,1
json=%N%

## rle_check
check=1
### 0,1
check=%N%

## max_rle
### 500,1000,2000
enable=1
max_len=%N%
##
@

@batch
## rnum
### irange(5)
n_rot=%N%

## log
log_to_file=1
	### 0,1
	log_to_file=%N%

## seq
seq_id=-1
	#### irange(30)
	seq_id=%N%
	#### irange(30)_irange(30)
	seq_start_id=%N0%
	seq_end_id=%N1%

## proc
n_proc=0
	#### irange(24)
	n_proc=%N%
##
@





