db_root_dir='/data/cityscapes'
class_names_path='lists/classes/cityscapes.txt'

## check
class_names_path='lists/classes/cityscapes_all.txt'
batch.check_labels=1
##

subseq_mode=0

@batch
dataset='cityscapes'
image_dir='leftImg8bit'
labels_dir='gtFine_labelIds'
split='all'

## train
split='train'
split_suffix='train'
## val
split='val'
split_suffix='val'
## test
split='test'
split_suffix='test'
##
@


out_img_ext='jpg'
img_ext='png'
labels_ext='png'
out_labels_ext='png'

%import% sub_patch.cfg




