db_root_dir='/data/coco'
class_names_path='lists/classes/coco.txt'
save_palette=1

@batch
dataset='coco'
image_dir=''
labels_dir='annotations'

split='train'
## val
split='val'
##
@

## start
### irange(0,50000,100)
start_id=%N%

## end
### irange(0,50000,100)
end_id=%N%
##

out_img_ext='jpg'
img_ext='jpg'
labels_ext='png'
out_labels_ext='png'

%import% sub_patch.cfg




