## resize
### 320,640,1280,2560,5120
resize=%N% 

## size
### 80,160,320,480,512,640,800
patch_width=%N% 
patch_height=%N% 

## smin
### 0,8,16,32,64
min_stride=%N%

## smax
### 0,32,64,128,256
max_stride=%N%

## rmin
### 15
min_rot=%N%

## rmax
### 345
max_rot=%N%

## img
save_img=1 
### 0,1
save_img=%N%

## vid
save_vid=1 
### 0,1
save_vid=%N%

## flip
enable_flip=1 
### 0,1
enable_flip=%N%

## frame
#### irange(100)
start_id=%N%
end_id=%N%
#### irange(100)_irange(100)
start_id=%N0%
end_id=%N1%

## start
### irange(100)
start_id=%N%

## end
### irange(100)
end_id=%N%
##

@rle
## rle
enable=1
### 0,1
enable=%N%

## rle_json
json=1
### 0,1
json=%N%

## rle_check
check=1
### 0,1
check=%N%

## max_rle
### 500,1000,2000
enable=1
max_len=%N%
##
@

@batch
## rnum
### irange(5)
n_rot=%N%

## log
log_to_file=1
### 0,1
log_to_file=%N%

## seq
seq_id=-1
#### irange(30)
seq_id=%N%
#### irange(30)_irange(30)
seq_start_id=%N0%
seq_end_id=%N1%

## proc
n_proc=0
#### irange(24)
n_proc=%N%
##
@





