~*
*.fig
*.png
*.eps
*.jpg
*.dll
*.tar
*.zip
*.gz
*.rar
*.orig.*
*.toc.*
*.mp4
*.mkv
*.avi
*.mov
*.back
*.asv
*.pyc
*~
*.tif
*.exe
*.bat
*.sdf
*.opensdf
*.suo
*.sln
*.vcxproj
*.vcxproj.*
*.o 
*.a
*.so
*.mat
*.pyd
*.log
*.emf
*.data*
*.tfevents*
*.index
*.meta
*checkpoint
log/
results/
.idea/
images/
images
archives/