~*
*.tif
*.jpg
*.png
*.mat
*.tar
*.zip
*.gz
*.rar
*.orig.*
*.toc.*
*.mp4
*.mkv
*.avi
*.mov
*.back
*.asv
*.pyc
*~
*.exe
*.bat
*.sdf
*.opensdf
*.suo
*.sln
*.vcxproj
*.vcxproj.*
*.o 
*.a
*.so
*.pyd
*.log
*.emf
*.data*
*.tfevents*
*.index
*.meta
*checkpoint
log/
results/
.idea/
